.u {
    background-color: white;
    height: 100%;        
   }

.info {
    height: 50%;
    text-align: left;
}

.img {
    height: 50%;
    text-align: right;
}

.level {
    height: 100%;
    text-align: center;
}