.u {
    background-color: white;
    width: 245px;
    display: grid;
    grid-template-areas:
      "i i"
      "c c"
      "l l";
  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   }

.info {
    height: 50%;
    text-align: left;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-area: i;
}

.contact {
    height: 50%;
    text-align: left;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-area: c;
}

.h {
    font-style: bold;
}

.img {
    height: 100px;
    width: 100px;
    text-align: right;
}

.level {
    height: 100%;
    text-align: center;
    grid-area: l;
}