.profile {
    background-color: #282c34;
    min-height: 94vh;
    color: #61dafb;
    display: grid;
    grid-template-areas:
        "u a a"
        "u i s";

    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;

}

.img {
    height: 200px;
    width: 200px;
    text-align: right;
}

.user {
    grid-area: u;
    border: 2px solid aqua;
    margin: 10px;
    justify-content: center;
    text-align: center;
}

.applications {
    grid-area: a;
    border: 2px solid aqua;
    margin: 10px;

}

.info {
    grid-area: i;
    border: 2px solid aqua;
    margin: 10px;
}

.stock {
    grid-area: s;
    border: 2px solid aqua;
    margin: 10px;
}

.teguser {
    color: aqua;
    display: flex;
    z-index: 5;
    border: 2px solid aqua;
    padding: 0px 10px;
    height: fit-content;
    width: fit-content;
    margin-top: -17px;
    font-size: 18px;
    margin-left: 10px;
    background-color: #282c34;
}

.data {
    border: 1px solid aqua;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 10%;
    
}

.tegdata {
    color: aqua;
    display: flex;
    z-index: 5;
    border: 1px solid aqua;
    padding: 0px 10px;
    height: fit-content;
    width: fit-content;
    margin-top: -35px;
    font-size: 14px;
    margin-left: -10px;
    background-color: #282c34;
    margin-bottom: 8px;
}

.text {
    color: white;
}

.login {
    margin-bottom: 50px;
}

.footer {
    margin-top: 50px;
    position: relative;
    width: 100%;
}
.rating {
    position: absolute;
    left: 5px;
}

.date {
    position: absolute;
    right: 5px;
}