.openButton {
    
    height: 30px;
    width: 290px;
    z-index: 5;
    background-color: forestgreen;
    color: burlywood;
}

.deleteButton {
    height: 30px;
    width: 290px;
    z-index: 5;
    background-color: red;
    color: burlywood;
}

.formPopup {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 10;
    top: 33%;
    left: 36%;
    color: #282c34;;
    width: 500px;
    height: auto;
    background-color: #61dafb;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.controlPanel {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    margin-top: 5px;
}

.paginationPanel{
    text-align: center;
}

.formPopup input {
    width: 90%;
}

.formPopup input:focus {
    background-color: #ddd;
}

.formPopup .btn {
    background-color: #1976D2;
    opacity: 0.7;
}

.formPopup .cancel {
    background-color: #448AFF;
}

.formPopup .btn:hover, .openButton:hover {
    opacity: 1;
}

.count {
    color: #61dafb;
}

.paginationPanel span {
    color: aqua;
    width: 20px;
    height: 20px;
    padding: 3px;
    cursor: pointer;
    border: 2px solid aqua;
    margin: 3px;
}

.page {
    color: aqua;
    margin-left: 15px;
    margin-right: 15px;
}

.paginationPanel span:hover {
    color: white;
    background-color: cornflowerblue;
  }
  
.active {
    color: black;
    background-color: cornflowerblue;
    
}