.s3 {
    background-color: #282c34;
    height: 100%;
    color: #282c34;
    display: grid;
    grid-template-rows: 1fr 30px 1fr;
    grid-gap: 5px;
}

.openButton {
    position: fixed;
    height: 30px;
    width: 290px;
    z-index: 5;
    background-color: forestgreen;
    color: burlywood;
}

.formPopup {
    display: none;
    position: fixed;
    z-index: 10;
}

.formContainer {
    max-width: 320px;
}

.formContainer input {
    width: 100%;
}

.formContainer input:focus {
    background-color: #ddd;
}

.formContainer .btn {
    background-color: #1976D2;
    opacity: 0.7;
}

.formContainer .cancel {
    background-color: #448AFF;
}

.formContainer .btn:hover, .openButton:hover {
    opacity: 1;
}