.s3 {
    background-color: #282c34;
    height: 100%;
    color: #282c34;
    display: grid;
    grid-template-rows: 1fr 52px 400px;
    grid-gap: 5px;
    
}

.spanService{
    color: red;
    font-size: 35px;
}