.t {
    /* width: 1110px; */
    height: 515px;
    display: inline-grid;
background-color: white;
    border: 1px solid #C1C1C1;
    /* размер и цвет границы блока */
    overflow: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}