table {
    border: 1px solid grey;
    border-color: currentColor;

}

/* границы ячеек первого ряда таблицы */
.thTable {
    border: 1px solid grey;
    background-color: aqua;
    color: #282c34;
    border-color: currentColor;
}

/* границы ячеек тела таблицы */
td {
    background-color: white;
    border: 1px solid grey;
    color: blueviolet;
    font-size: 16px;
}