.m {
  color: #282c34;
  height: 100%;
  font-size: 25px;
  /* align-items: center;
justify-content: center; */
  text-align: center;
  display: grid;
  grid-gap: 10px;
}

a {
  background-color: aqua;
  height: 40px;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: cornflowerblue;
}

a.active {
  background-color: cornflowerblue;
}