.m {
  color: #282c34;
  height: 100%;
  font-size: 25px;
  /* align-items: center;
justify-content: center; */
  text-align: center;
  display: grid;
  grid-gap: 10px;
}

.decarationNone:hover {
  color: white;
  background-color: rgb(12, 34, 236);
}

a.active {
  background-color: rgb(12, 34, 236);
  text-decoration: none;
  color: gold;
}

.decarationNone {
  text-decoration: none;
  background-color: #727e94;
  color: aqua;
  height: 40px;
}