.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;

  /* align-items: center;
  justify-content: center; */
  color: #61dafb;

  display: grid;
  grid-template-areas:
    "n h"
    "n m";

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 30px 1fr;
  grid-gap: 10px;
}