.n {
 
 color: aqua;
 height: 80%;
 grid-area: n;
 font-size: 25px;
 /* align-items: center;
justify-content: center; */
text-align: center;

display: grid;
grid-gap:10px;
grid-template-rows: 1fr 180px 8fr;

}

